<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Inicio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" th:href="@{/login.css}" />
<link rel="stylesheet" th:href="@{/home.css}" />
<link rel="stylesheet" th:href="@{/altaproducto.css}" />

</head>
<body>
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<img src="/images/logomain.png" class="img img-main" alt="logo" /> <a
				class="navbar-brand" th:href="@{/homeadmin}">Hubo Burger</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse p-1">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown" aria-expanded="false" th:if="${session.rol_usuario} == 'admin'">
							Productos </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" th:href="@{/altaproducto}">Alta</a></li>
							<li><a class="dropdown-item" th:href="@{/listaproducto}">Lista</a></li>
							<li><a class="dropdown-item" th:href="@{/buscarproducto}">Buscar</a></li>
							<li><a class="dropdown-item"
								th:href="@{altaproductoxml}">Alta con XML</a></li>
						</ul></li>
					<li class="nav-item" th:if="${session.rol_usuario} == 'admin'"><a class="nav-link"
						th:href="@{/listausuario}">Lista de Usuarios</a></li>
					<li class="nav-item" th:if="${session.rol_usuario} == 'admin'"><a class="nav-link"
						th:href="@{/listapedido}">Lista de Pedidos</a></li>
					<li class="nav-item" th:if="${session.rol_usuario} == 'usuario'"><a
						class="nav-link" th:href="@{/nuevopedido}">Nuevo Pedido</a></li>
					<li class="nav-item" th:if="${session.rol_usuario} == 'usuario'"><a
						class="nav-link" th:href="@{/listapedido}">Lista de Pedidos</a></li>
				</ul>
				<ul class="navbar-nav justify-content-center align-items-center">
					<li class="nav-item"><a class="nav-link active justify-content-center align-items-center user-margen-derecho"
						aria-current="page" href="#" th:text=${session.usuario_name}>User
							Name</a></li>
					<li class="nav-item">
					 <a class="my-0" th:href="@{/logout}"><button class="btn burgerbutton ">CERRAR SESIÓN</button></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main role="main">

		<section class="vh-100">
			<div class="jumbotron ">
				<div
					class="container my-4 d-flex justify-content-center align-items-center">
					<h1 class="display-6 fw-bold">LISTA DE PRODUCTOS</h1>
				</div>

			</div>
			<div class="jumbotron ">
				<div
					class="container my-4 d-flex justify-content-center align-items-center">
					<div class="table-responsive">
						<table class="table w-100 my-0 p-0 pt-3 table-bordered table-hover table-striped " style="opacity: 0.8;">
							<thead>
								<tr>
									<th  style="width: 200px;">ID</th>
									<th style="width: 300px;">Nombre</th>
									<th style="width: 200px;">Categoría</th>
									<th class="text-right" style="width: 150px;">Precio</th>
									<th class="text-center" style="width: 150px;">Ver detalle</th>
								</tr>
							</thead>
							<tbody>
								<!-- Iterar a través de los productos de tu modelo de datos -->
								<th:block th:each="producto:${listaProducto}">
									<tr>
										<td th:text="${producto.id}"></td>
										<td th:text="${producto.nombre}"></td>
										<td th:text="${producto.categoria}"></td>
										<td class="text-right" th:text="${producto.precio} + ' €'"></td>
										<td class="text-center"><a
											th:href="@{/detalleproducto/{id}(id=${producto.id})}"
											title="Ver detalle"> <img class="img-list"
												src="/images/detallemini.png" alt="Ver detalle">
										</a></td>
									</tr>
								</th:block>
							</tbody>
						</table>
						
					</div>
				</div>

			</div>
			<footer class="mt-auto">
				<ul>
					<li><a href="#"> Contacto:</a> carlos01ep@gmail.com</li>
					<li><a href="#">Términos y condiciones</a></li>
					<li><a href="#">Política de privacidad</a></li>
				</ul>
				<p> &copy; HUBO BURGER 2023</p>
			</footer>
		</section>

	</main>
</body>
</html>