<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Inicio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
	integrity="sha512-wVwn1f4X1m0h4Y49m32jKZl2zAF6Bk3qBzK6GgJnR+R6Eg7pUZi6lJgV5kkSdRRn7wJrk5M5h5p4X4CO4aHY4Q=="
	crossorigin="anonymous" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://icons.getbootstrap.com/">

<link rel="stylesheet" th:href="@{/login.css}" />
<link rel="stylesheet" th:href="@{/home.css}" />

<style>
input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked) {
	height: 100px;
	width: 100px;
}

.input[type="checkbox"]:hover {
	/* Opcional: Puedes ajustar el tamaño al hacer hover */
	height: 100px;
	width: 100px;
}

.custom-checkbox {
	display: inline-block;
	width: 100px;
	height: 100px;
	position: relative;
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.custom-checkbox input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 3;
}

.custom-checkbox::after {
	width: 100px;
	height: 100px;
	content: "✓";
	font-size: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: white;
	font-weight: bold;
	border: 5px solid white;
	text-align: center;
	line-height: 80px;
	background-color: rgba(93, 219, 2, 0.6);
}

.custom-checkbox:not(.checked)::after {
	display: none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .custom-checkbox::after
	{
	display: block;
}
/*#lista-productos li {
        list-style-type: none;
    }*/
.custom-input {
	width: 30%;
	/* Puedes ajustar el valor del ancho según tus necesidades */
}
/*.btn-coma {
  font-size: 1.25rem; 
  width: 100%;
  padding: 0.375rem 0.75rem; 
}*/
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<img src="/images/logomain.png" class="img img-main" alt="logo" /> <a
				class="navbar-brand" th:href="@{/homeadmin}"
				th:if="${session.rol_usuario} == 'admin'">Hubo Burger</a> <a
				class="navbar-brand" th:href="@{/home}"
				th:if="${session.rol_usuario} == 'usuario'">Hubo Burger</a> <a
				class="navbar-brand" th:href="@{/homedependiente}"
				th:if="${session.rol_usuario} == 'usuariodependiente'">Hubo
				Burger</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse p-1">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown" aria-expanded="false"
						th:if="${session.rol_usuario} == 'admin'"> Productos </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" th:href="@{/altaproducto}">Alta</a></li>
							<li><a class="dropdown-item" th:href="@{/listaproducto}">Lista</a></li>
							<li><a class="dropdown-item" th:href="@{/buscarproducto}">Buscar</a></li>
							<li><a class="dropdown-item" th:href="@{/altaproductoxml}">Alta
									con XML</a></li>
						</ul></li>
					<li class="nav-item" th:if="${session.rol_usuario} == 'admin'"><a
						class="nav-link" th:href="@{/listausuario}">Lista de Usuarios</a></li>
					<li class="nav-item" th:if="${session.rol_usuario} == 'admin'"><a
						class="nav-link" th:href="@{/listapedido}">Lista de Pedidos</a></li>
					<li class="nav-item"
						th:if="${session.rol_usuario == 'usuario' || session.rol_usuario == 'usuariodependiente'}"><a
						class="nav-link" th:href="@{/nuevopedido}">Nuevo Pedido</a></li>
					<li class="nav-item"
						th:if="${session.rol_usuario == 'usuario' || session.rol_usuario == 'usuariodependiente'}"><a
						class="nav-link" th:href="@{/listapedido}">Lista de Pedidos</a></li>
				</ul>
				<ul class="navbar-nav justify-content-center align-items-center">
					<li class="nav-item"><a
						class="nav-link active justify-content-center align-items-center user-margen-derecho"
						aria-current="page" href="#" th:text=${session.usuario_name}>User
							Name</a></li>
					<li class="nav-item"><a class="my-0" th:href="@{/logout}"><button
								class="btn burgerbutton ">CERRAR SESIÓN</button></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<main role="main">

		<section class="vh-100 ">
			<div class="jumbotron">
				<div
					class="container my-3 d-flex justify-content-center align-items-center mt-2 pt-2">
					<h1 class="display-6 fw-bold ">NUEVO PEDIDO</h1>
				</div>
				<form action="#" th:action="@{nuevopedidodependiente}"
					th:object="${nuevoPedidoForm}" method="post">
					<div class="container-fluid h-custom">
						<div class="row d-flex justify-content-center align-items-center">
							<!-- image -->
							<div class="col-md-9 col-lg-9 col-xl-8 bg-light align-self-start">
								<div class="divider d-flex align-items-center mt-4">
									<p class="text-center fw-bold mx-3 mb-0">SELECCIÓN DE
										PRODUCTOS</p>
								</div>
								<div class="row">
									<div class="col-md-6">
										<table class="table" id="tabla-productos-par">
											<tbody>
												<tr th:each="productoPar, iterStat : ${listaProductoPar}">
													<td>
														<ul class="list-unstyled">
															<li class="">
																<div class="custom-checkbox">
																	<div class="background-image"
																		th:style="'background-image: url(/images/' + ${productoPar.image} + ');'"></div>
																	<input type="checkbox"
																		th:id="'seleccionarPar' + ${productoPar.id}"
																		th:name="'idProductosPares'"
																		th:value="${productoPar.id}" /> <input type="hidden"
																		th:id="'nombrePar-' + ${productoPar.id}"
																		th:name="'nombrePar' + ${productoPar.id}"
																		th:value="${productoPar.nombre}" />
																</div>
															</li>
														</ul>
													</td>
													<td>
														<ul class="list-unstyled">
															<li class=""><a class="producto-nombre"
																th:href="@{/detalleproducto/{id}(id=${productoPar.id})}"
																th:text="${productoPar.nombre}">Nombre Producto Par</a></li>
															<li><span th:text="${productoPar.precio} + ' €'"
																class="producto-precio"></span></li>
															<li>
																<div class="col-lg-5 col-sm-7 col-md-9">
																	<input type="number"
																		class="form-control form-control-sm"
																		placeholder="Cant." aria-label="Cant."
																		th:id="'cant-' + ${productoPar.id}"
																		th:name="'cantidadProductos'" th:value="''" min="0"
																		disabled>
																</div>
															</li>
														</ul>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-md-6">
										<table class="table" id="tabla-productos-impar">
											<tbody>
												<tr
													th:each="productoImpar, iterStat : ${listaProductoImpar}">
													<td>
														<ul class="list-unstyled">
															<li class="">
																<div class="custom-checkbox">
																	<div class="background-image"
																		th:style="'background-image: url(/images/' + ${productoImpar.image} + ');'"></div>
																	<input type="checkbox"
																		th:id="'seleccionarImpar' + ${productoImpar.id}"
																		th:name="'idProductosImpares'"
																		th:value="${productoImpar.id}" /> <input
																		type="hidden"
																		th:id="'nombreImpar-' + ${productoImpar.id}"
																		th:name="'nombreImpar' + ${productoImpar.id}"
																		th:value="${productoImpar.nombre}" />
																</div>
															</li>
														</ul>
													</td>
													<td>
														<ul class="list-unstyled">
															<li class=""><a class="producto-nombre"
																th:href="@{/detalleproducto/{id}(id=${productoImpar.id})}"
																th:text="${productoImpar.nombre}">Nombre Producto
																	Impar</a></li>
															<li><span th:text="${productoImpar.precio} + ' €'"
																class="producto-precio"></span></li>
															<li>
																<div class="col-lg-5 col-sm-7 col-md-9 mb-2">
																	<input type="number"
																		class="form-control form-control-sm"
																		placeholder="Cant." aria-label="Cant."
																		th:id="'cant-' + ${productoImpar.id}"
																		th:name="'cantidadProductos'" th:value="''" min="0"
																		disabled>
																</div>
															</li>
														</ul>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<hr>
							</div>

							<div
								class="col-md-3 col-lg-3 col-xl-3 mx-4 bg-light align-self-start">
								<div class="divider d-flex align-items-center my-4">
									<p class="text-center fw-bold mx-3 mb-0">CALCULAR CAMBIO</p>
								</div>
								<div id="info-productos">
									<h6>Productos seleccionados:</h6>
									<ul id="lista-productos"></ul>
									<h6>
										Total: <span id="total"></span> €
									</h6>
									<hr>
									<div>

										<div
											class="cantidad-input d-flex justify-content-center align-items-center my-4 px-2">
											<label class="px-2" for="monto-pago">Monto de pago:</label> <input
												type="number" id="monto-pago" min="0" step="0.01"
												class="form-control form-control-sm col-4 custom-input"
												name="montoPago" /> <label class="px-2">€</label>
										</div>

										<table
											class="table-responsive d-flex align-items-center justify-content-center">
											<tr>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">0</button></td>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">1</button></td>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">2</button></td>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">3</button></td>
											</tr>
											<tr>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">C</button></td>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">4</button></td>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">5</button></td>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">6</button></td>
											</tr>
											<tr>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">X</button></td>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">7</button></td>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">8</button></td>
												<td><button type="button"
														class="btn btn-secondary btn-numero btn-lg">9</button></td>
											</tr>
										</table>
									</div>
									<hr>
									<div class="cantidad-input d-flex justify-content-center my-2">
										<label class="px-2">Cambio:</label> <input type="text"
											id="cambio" readonly
											class="form-control form-control-sm col-4 custom-input"
											name="cambio" /> <label class="px-2">€</label>
									</div>
								</div>
								<div class="divider d-flex align-items-center my-3"></div>
								<div class="text-center pt-0 my-2">
									<button type="submit" class="btn hubobutton">FINALIZAR
										PEDIDO</button>
								</div>
								<div class="divider d-flex align-items-center my-3"></div>
							</div>
						</div>
					</div>
				</form>

			</div>
			<footer class="mt-auto">
				<ul>
					<li><a href="#"> Contacto:</a> carlos01ep@gmail.com</li>
					<li><a href="#">Términos y condiciones</a></li>
					<li><a href="#">Política de privacidad</a></li>
				</ul>
				<p>&copy; HUBO BURGER 2023</p>
			</footer>
		</section>
	</main>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
  $(document).ready(function() {
    $('.custom-checkbox input[type="checkbox"]').on('change', function() {
      $(this).closest('.custom-checkbox').toggleClass('checked', $(this).is(':checked'));
    });
  });
</script>
	<script>
$(document).ready(function() {
    $('#tabla-productos-par input[type="checkbox"]').change(function() {
        var idProducto = $(this).attr('id').replace('seleccionarPar', '');
        habilitarNumero(idProducto);
    });

    $('#tabla-productos-impar input[type="checkbox"]').change(function() {
        var idProducto = $(this).attr('id').replace('seleccionarImpar', '');
        habilitarNumeroImpar(idProducto);
    });

    function habilitarNumero(idProducto) {
        var checkbox = document.getElementById("seleccionarPar" + idProducto);
        var numero = document.getElementById("cant-" + idProducto);

        if (checkbox.checked) {
            numero.disabled = false;
        } else {
            numero.disabled = true;
        }
    }

    function habilitarNumeroImpar(idProducto) {
        var checkbox = document.getElementById("seleccionarImpar" + idProducto);
        var numero = document.getElementById("cant-" + idProducto);

        if (checkbox.checked) {
            numero.disabled = false;
        } else {
            numero.disabled = true;
        }
    }
});
</script>
	<script>
$(document).ready(function() {
  // Obtener los checkboxes de los productos
  var checkboxes = $('#tabla-productos-par input[type="checkbox"], #tabla-productos-impar input[type="checkbox"]');

  checkboxes.change(function() {
    // Limpiar la lista de productos seleccionados y el total
    $('#lista-productos').empty();
    var total = 0;

    // Recorrer los checkboxes y obtener los productos seleccionados
    checkboxes.each(function() {
      if (this.checked) {
        var producto = $(this).closest('tr').find('.producto-nombre').text();
        var precio = parseFloat($(this).closest('tr').find('.producto-precio').text());
        var cantidad = parseFloat($(this).closest('tr').find('input[type="number"]').val());

        // Agregar el producto a la lista de productos seleccionados
        var newListItem = $('<li>').text(producto + ' x ' + cantidad);
        $('#lista-productos').append(newListItem);

        // Calcular el precio por la cantidad y sumarlo al total
        total += precio * cantidad;
      }
    });

    // Actualizar el total en el lateral
    $('#total').text(total.toFixed(2));

    // Calcular el cambio si ya se ingresó un monto de pago
    var montoPago = parseFloat($('#monto-pago').val());
    if (!isNaN(montoPago)) {
      var cambio = montoPago - total;

      // Mostrar el cambio en el lateral
      $('#cambio').val(cambio.toFixed(2));
    }
  });

  // Actualizar en tiempo real cuando se modifica el campo de cantidad
  $('input[type="number"]').on('input', function() {
    checkboxes.trigger('change');
  });

  // Capturar el número del botón clicado y actualizar el valor del input
  $('.btn-numero').click(function() {
    var numero = $(this).text();
    var montoPagoInput = $('#monto-pago');
    var montoPago = montoPagoInput.val();

    if (numero === 'C') {
      // Borrar la última cifra del monto de pago
      montoPagoInput.val(montoPago.slice(0, -1));
    } else {
      montoPagoInput.val(montoPago + numero);
    }

    montoPagoInput.trigger('input'); // Disparar evento de cambio en el input
  });

  // Calcular el cambio al ingresar el monto de pago
  $('#monto-pago').on('input', function() {
    var montoPago = parseFloat($(this).val());
    var total = parseFloat($('#total').text());
    var cambio = montoPago - total;

    // Mostrar el cambio en el lateral
    $('#cambio').val(cambio.toFixed(2));
  });
});

</script>





</body>
</html>